
/* header start */
// #navbar {
//     background-color: #0d233a;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 999;
//     transition: top 0.4s;
// }

header {
    background: #fff;
    padding: 1rem 0;

    .site-logo {
        width: 4rem;
        float: left;
    }
}
.menu {
    float: right;
    margin-top: .5rem;
}
.navbar {
    float: left;    
    margin: .5rem 8rem 0 0;
    ul li {
        list-style: none;
        display: inline-block;
        padding: 0 2.5rem;
    }
    li {
        position: relative;
        a {
            color: #024350;
            font-weight: 200;
            transition: .4s ease-in-out;
            position: relative;
            &:hover {
                color: #D97712;
                transition: .4s ease-in-out;
            }
        }
    }
    li > ul {
            position: absolute;
            background: #D97712;
            top: 100%;
            left: 0%;
            z-index: 99;
            width: 188px;
            padding: 0;
            display: none;
        li {
            display: block;    
            border-bottom: 1px #fff solid;
                a {
                    padding: 10px 20px;
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    &:hover {
                        color: #fff;
                        &:after {
                            height: auto;
                        }
                    &:hover:after {
                        background: none;
                        display: none;
                    }        
                    }
                }
            }
        li:last-child {
            border-bottom: none;
        }    
    }
    li:hover > ul {
        display: block;
    }
}
.social-icon {
    float: right;
    ul li {
        display: inline-block;
        a {
            width: 45px;
            height: 45px;
            display: inline-grid;
            color: #fff;
            border-radius: 100%;
            text-align: center;
            align-items: center;
            margin-left: 30px;
        }
    }
    .call-button {
        padding-left: 2rem;
    }
}
.menu-trigger {
	height:50px;
	line-height:50px;
	font-weight:bold;
	font-size:18px;
	text-transform:uppercase;
	display:none;
	background: url(../img/logo/nav-icon.png) no-repeat right 25px;
	text-align:right;
	cursor:pointer;
	color:#024350;
	padding-right:25px;
    padding-top: 14px;
}

/* header end */

